<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body class="rdt-background">
    <div class="navbar text-center ">
        <img src="~/Content/Images/logo.png" width="80" height="50">
        <div class="dropdown" style="float:right; display:none;">
            <button class="dropbtn"><i class="glyphicon glyphicon-globe"></i>Tùy chọn</button>
            <div class="dropdown-content">
                <a href="javascript:;" onclick="ratingDemo.changeService()">Đổi dịch vụ</a>
                <a href="javascript:;" onclick="ratingDemo.logOut()">Thoát</a>
            </div>
        </div>
    </div>
    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
